@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
header {
  background-color: #db3541;
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid whitesmoke;
  height: 75px;
}
header img {
  width: 22%;
  margin-top: 5px;
  margin-left: 8px;
  background-color: white;
  padding: 4px;
  transition: 1s;
  border-radius: 3px;
}
header img:hover {
  width: 23%;
}
header nav ul {
  display: flex;
  list-style-type: none;
}
header nav ul li {
  margin: 5px;
  padding: 5px;
}
header nav ul li .currentab {
  color: #fffafa;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}
header nav ul li a {
  color: #faebd7;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section h1 {
  background-color: #db3541;
  color: #faebd7;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding: 5px;
}
section img {
  width: 100%;
  margin: 0;
}

#cuenta a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 130%;
  text-decoration: none;
  color: #222f2f;
}
#cuenta img {
  width: 50px;
  margin: 2px;
}

.fotos_oficios {
  width: 20%;
  margin: 3px;
}

footer img {
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#productos div {
  display: flex;
}
#productos div a {
  text-decoration: none;
}
#productos div a p {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2px;
  margin: 10px;
}
#productos div ul {
  display: flex;
  margin-top: 22px;
  list-style-type: none;
}
#productos div ul li a {
  text-decoration: none;
  padding: 5px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}
#productos div ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
#productos h3 {
  padding: 2px;
  margin-left: 10px;
}

.descripProd {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.precioProd {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
