//ESTILOS DE LA CABECERA
@import 'variables.scss';

header {
    background-color: $backcolor-ppal;
    display: flex;
    padding: 0.5rem;
    border-bottom: 1px solid whitesmoke;
    height: 75px;
    img {
        width: 22%;
        margin-top: 5px;
        margin-left: 8px;
        background-color: white;
        padding: 4px;
        transition: 1s;
        border-radius: 3px;
    }
    img:hover{
        width: 23%;
    }

    nav{
        ul {
            display: flex;
            list-style-type:none;

            li {
                margin: 5px;
                padding: 5px;
                .currentab {
                    color: #fffafa;
                    font-family: $font-ppal;
                    font-size: 1.1rem;
                    font-weight: bold;
                    text-decoration: none;
                }
                a{
                    color:$font-color-ppal;
                    font-family: $font-ppal;
                    font-size: 1.1rem;
                    font-weight:bold;
                    text-decoration: none;
                }
                a:hover{
                    text-decoration: underline;
                    text-decoration-thickness: 3px;
                    text-underline-offset:4px;
                }
            }
        }
    }
}



