//ESTILOS DE LA CABECERA
@import 'variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    nav{
        display: flex;
        align-items: center;
        background-color: $backcolor-ppal;
        //border-color: black;
        //border-style:dashed;
        img {
            width: 20%;
            margin-top: 8px;
            margin-left: 8px;
        }
        span {
            display: flex;
            justify-self: right;
            justify-content: space-around;
            a {
                color:$font-color-ppal;
                font-size: 1.1rem;
                font-weight: bold;
                font-family: $font-ppal;
                width: 90px;
                padding: 2px;
                margin: 1px;
                text-decoration: none;
                text-align: center;
            }
        }
    }
    h1 {
        color: $font-color-ppal;
        font-family: $font-ppal;
        text-align: center;
        background-color:$backcolor-ppal;
        padding: 5px;
    }
}