//ESTILOS DEL HOME
@import 'variables.scss';
section {
    h1 {
        background-color: $backcolor-ppal;
        color: $font-color-ppal;
        font-family: $font-ppal;
        text-align: center;
        padding: 5px;
    }
    img {
        width: 100%;
        margin: 0;

    }
}

#cuenta {
    a {
        font-family: $font-ppal;
        font-weight: bold;
        font-size: 130%;
        text-decoration: none;
        color: #222f2f;
    }
    img {
        width: 50px;
        margin: 2px;
    }
}


.fotos_oficios {
    width: 20%;
    margin: 3px;    
}
