//ESTILOS DEL HOME
@import 'variables.scss';
section {
    h1 {
        background-color: $backcolor-ppal;
        color: $font-color-ppal;
        font-family: $font-ppal;
        text-align: center;
        padding: 5px;
    }
    img {
        width: 100%;
        margin: 0;

    }
}

#cuenta {
    color: #23FD00;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: 130%;
    text-decoration: none;
}

.fotos_oficios {
    width: 20%;
    margin: 3px;    
}
