//VARIABLES
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
$font-color-ppal: whitesmoke;
$font-ppal: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$backcolor-ppal: #db3541;
$font-color-body: black;


