//Import Fuentes
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import 'variables.scss';
@import 'header.scss';


//ESTILOS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





